@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --background: #f3f5fc;
  --primary: #0a3871;
  --secondary: #d8dfe8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: var(--background);
}

/* * General */
.main-app,
.main-aside {
  height: 100%;
  background-color: var(--background);
}

/* * Logo */
.main-logo {
  width: 80px;
}

/* * Main Container */
main {
  margin: 40px;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
}

/* * Main App */
.main-app {
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  flex-basis: 70%;
}

.main-app-input {
  height: 70%;
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: var(--primary);
  background-color: var(--background);
}

.main-app-input::placeholder {
  color: #0a3871;
}

/* * Buttons */
.main-app-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.main-app-btn-encrypt,
.main-app-btn-decrypt,
.main-aside-btn {
  width: 48%;
  padding: 15px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: white;
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.main-app-btn-decrypt {
  background-color: var(--secondary);
  color: var(--primary);
}

/* * Aside */
.main-aside {
  width: 40%;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-aside-hero {
  width: 100%;
  margin-bottom: 20px;
}

.main-aside-strong {
  font-size: 18px;
  font-weight: bold;
  color: var(--primary);
}

.main-aside-text {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.hide {
  display: none;
}

/* * Media Queries */
@media (max-width: 1200px) {
  main {
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }

  .main-app,
  .main-aside {
    width: 100%;
  }

  .main-aside-hero {
    display: none;
  }
}

@media (max-width: 375px) {
  main {
    margin: 20px;
  }

  .main-app-input {
    height: 50%;
  }

  .main-app-btns {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .main-app-btn-encrypt,
  .main-app-btn-decrypt {
    width: 100%;
  }
}
